<!DOCTYPE HTML> 
<html lang="zh-ch" xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>{{ page.title }}{% if page.title != site.title %} | {{ site.title }}{% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  <meta name="author" content="{{ site.author.name }}" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  
  <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ ASSET_PATH }}/google-code-prettify/desert.css" rel="stylesheet" type="text/css" media="all">\

  <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all" />
  
  <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ HOME_PATH }}">{{ site.address }}</a>
        <ul class="nav">
          <li><a href="/archive.html">存档</a></li>
          <li><a href="/tags.html">标签</a></li>
          <li><a href="/about.html">关于</a></li>
          <li><a href="/messages.html">留言板</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/atom.xml">RSS</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container page-container">
    <div class="content">
      {{ content }}
    </div>

    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
        <a href="http://blog.lendo.cn/pages.html" target="_self">Pages</a>
      </footer>
  </div>
  
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="{{ ASSET_PATH }}/google-code-prettify/prettify.js"></script>
  <script type="text/javascript">
    $(function() {

      $('a[href^="http"]').each(function () {
        $(this).attr('target', '_blank');
      });
      
      $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto');
      window.prettyPrint && prettyPrint();

      function traverse($node, len, maxCount) {
        var reachMaxCount = len > maxCount;
        if (reachMaxCount) {
          $node.hide();
        }
        var $contents = $node.contents();
        for (var i = 0; i < $contents.length; ++i) {
          if (reachMaxCount) {
            $contents.eq(i).hide();
            continue;
          }
          if ($contents[i].nodeType == 3) {
            var tmp = len;
            var s = $contents[i].nodeValue;
            len += s.length;
            reachMaxCount = len > maxCount;
            if (reachMaxCount && $contents[i].parentNode.nodeName != 'A') {
              $contents[i].nodeValue = s.substring(0, maxCount - tmp);
            }
          }
          else if ($contents[i].nodeType == 1) {
            len = traverse($contents.eq(i), len, maxCount);
          }
        }
        return len;
      }

      $('.post_at_index').each(function() {
        var count = traverse($(this), 0, {{ site.description_length }});
        if (count > {{ site.description_length }}) {
          var thisUrl = $(this).siblings().first().children().attr('href');
          $(this).after('\n<a href="' + thisUrl + '" rel="nofollow">' + 'Read More ...</a>');
        }
      });
    });
  </script>
  {% include JB/analytics %}
</body>
</html>
